.body {
    background-color: rgba(189, 197, 209, 0.726);
    margin: 0;
    /*display: flex;*/
    /* flex-wrap: wrap;*/

}

.encabesado {
    border-bottom: solid;
    border-bottom-color: gray;
    border-bottom-width: 0.1em;

}

.container {
    align-items: center;

}

.seccion {
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 10px 10px 10px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


}

.conteneor {
    display: flex;
    flex-wrap: wrap;

}

.conteneor div {
    width: 200px;
    background-color: aquamarine;
    padding: 5px;
    margin: 5px;
    border-radius: 2;
}

@media only screen and (max-width: 460px) {
    .conteneor {
        justify-content: center;
        /* Justificar en el centro en pantallas de celular */

    }

    .conteneor div {
        display: flex;
        width: 450px;



    }

}